@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}


body{
    background-color: #7D5A50;
}

#hamburger {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

#hamburger-check {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

#cross {
    visibility: hidden;
    width: 0;
    height: 0;
}

h2{
    font-size: 32px;
}


nav {
    margin: 13px auto 0;
    position: relative;
    max-width: 90%;
    height: 50px;
    background-color: #F5F5F8;
    border-radius: 8px;
    font-size: 0;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: black;
}

.tw {
    animation: canimation 3s linear infinite;
}

.tw1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
}

.tw2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
}
  
.tw3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
}
  
.tw4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
}

@keyframes canimation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    transition: 0.5s;
    border-radius: 8px;
}
a:nth-child(1) {
    width: 100px;
}
a:nth-child(2) {
    width: 150px;
}
a:nth-child(3) {
    width: 100px;
}
a:nth-child(4) {
    width: 160px;
}
/* a:nth-child(5) {
    width: 70px;
} */
a:nth-child(5) {
    font-size: 22px;
    margin-right: 20px;
    float: right;
    font-weight: 800;
}

nav .start-home, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #1abc9c;
}
nav .start-latestPosts, a:nth-child(2):hover~.animation {
    width: 134px;
    left: 100px;
    background-color: #e74c3c;
}
nav .start-restaurants, a:nth-child(3):hover~.animation {
    width: 134px;
    left: 240px;
    background-color: #3498db;
}
nav .start-aboutUs, a:nth-child(4):hover~.animation {
    width: 110px;
    left: 375px;
    background-color: #9b59b6;
}
/* nav .start-contact, a:nth-child(5):hover~.animation {
    width: 100px;
    left: 490px;
    background-color: #e67e22;
} */

#container-articole{
    display: flex;
}

#container-pagina{
    display: grid;
    grid-template-areas: 
            "home home home home"
            "noutati noutati noutati noutati"
            "testimonials testimonials testimonials testimonials"
            "gallery gallery gallery gallery"
            "social-media social-media social-media social-media";
    grid-gap: 15px 15px;
}

#social-media{
    grid-area: social-media;
    padding-top: 40px;
    padding-bottom: 48px;
    padding-right: 16px;
    position: relative;
    margin-top: 15px;
    padding-left: 50px;
    background-color: #FCDEC0;
}

#social-media .social-media-text img{
    display: inline-block;
    padding: 10px 0 10px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

#social-media .social-media-text a {
    padding: 10px 0 10px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

#social-media .social-media-text img:hover{
    opacity: 0.7;
}

#testimonials {
    grid-area: testimonials;
    background-color: #E5B299;
}

#testimonials .tests-container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 368px;
    grid-column-gap: 28px;
    overflow-x: auto;
    margin: 16px 0;
    max-width: 100%;
    justify-content: center;
}

#testimonials h2{
    text-align: left;
    margin-top: 15px;
    margin-left: 50px;
}

#testimonials .tests-container div{
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    margin: 4px;
    padding-bottom: 63px;
    margin-top: 40px;
    overflow-x: auto;
    background-color: #f2f4f6;
}

#testimonials .tests-container div > p{
    font-style: italic;
    padding: 0 32px;
    margin: 0;
}

#testimonials .tests-container div > cite {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 700;
    padding: 8px 32px 32px;
    position: absolute;
    display: block;
}

#testimonials .tests-container div img {
    padding: 8px;
}
#testimonials .tests-container .test1 > cite::before {
    background-image: url('../img/flavian.jpg');
    background-size: 40px 40px;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    content: "  ";
}

#testimonials .tests-container .test2 > cite::before {
    background-image: url('../img/pham.jpg');
    background-size: 40px 40px;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    content: "  ";
}

#testimonials .tests-container .test3 > cite::before {
    background-image: url('../img/tobi.jpg');
    background-size: 40px 40px;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    content: "  ";
}

#home {
    grid-area: home;
    margin-top: 15px;
    margin-left: 50px;
}

#home > p {
    margin-top: 10px;
    margin-right: 70px;
}

#noutati h2 {
    margin-bottom: 15px;
}

#noutati{
    grid-area: noutati;
    padding-top: 15px;
    padding-left: 50px;
    padding-bottom: 10px;
    background-color: #B4846C;
}

/* STAR */
.review-star{
    color: lightgreen;
    margin-top: 5px;
}

.review-star p{
    color: black;
}

.review-star span{
    color: orangered;
}
/* STAR */

/* REVIEW TABLE */
table{
    margin-top: 30px;
    border-collapse: collapse;
    /* width: 100%; */
}

td{
    border: 1px solid gainsboro;
    text-align: left;
    padding: 6px;
}

td:nth-child(even) {
    background-color: lightcoral;
}

td:nth-child(odd) {
    background-color: lightgreen;
}

/* REVIEW TABLE */

/* preview for the first article */
#noutati > #container-articole > article:nth-of-type(2n+1) > img {
    margin-right: 20px;
    float: left;
}
#noutati > #container-articole > article:nth-of-type(2n+1) > h3 {
    margin-right: 20px;
    float: left;
}
#noutati > #container-articole > article:nth-of-type(2n+1) > p {
    margin-right: 20px;
    margin-top: 25px;
}
/* preview for the first article */

/* preview for the second article */
#noutati > #container-articole > article:nth-of-type(2n+2) > img {
    margin-right: 20px;
    float: left;
}
#noutati > #container-articole > article:nth-of-type(2n+2) > h3 {
    float: left;
}
#noutati > #container-articole > article:nth-of-type(2n+2) > p {
    margin-right: 20px;
    margin-top: 30px;
}
/* preview for the second article */

#gallery {
    grid-area: gallery;
}

#gallery h2 {
    padding-left: 50px;
}

#gallery-conainer {
    display: flex;
    flex-wrap: wrap;
}

#gallery-conainer > figure {
    width: 33%;
    text-align: center;
    transform: scale(0);
    /* opacity: 0; */
    animation: aparitie 4s forwards;
}

#gallery-conainer > figure > img {
    width: 215px;
    height: 322px;
}

#gallery-conainer > figure:nth-child(1) {
    animation-delay: 0.5s;
}

#gallery-conainer > figure:nth-child(2) {
    animation-delay: 1s;
}

#gallery-conainer > figure:nth-child(3) {
    animation-delay: 1.5s;
}

#gallery-conainer > figure:nth-child(4) {
    animation-delay: 2s;
}

#gallery-conainer > figure:nth-child(5) {
    animation-delay: 2.5s;
}

#gallery-conainer > figure:nth-child(6) {
    animation-delay: 3s;
}

#gallery-conainer > figure:nth-child(7) {
    animation-delay: 3.5s;
}

#gallery-conainer > figure:nth-child(8) {
    animation-delay: 4s;
}

#gallery-conainer > figure:nth-child(9) {
    animation-delay: 4.5s;
}

@keyframes aparitie{
    0% {
        /* opacity: 0; */
        transform: scale(0);
    }
    100% {
        /* opacity: 1; */
        transform: scale(1);
    }
}

/* fix for new posts content */
@media screen and (max-width: 1180px) {
    #container-articole{
        display: flex;
        flex-direction: column;
    }
    
    #testimonials .tests-container{
        display: flex;
        flex-direction: column;
    }

    /* preview for the second article */
    #noutati > #container-articole > article:nth-of-type(2n+2){
        margin-top: 20px;
    }

    #noutati > #container-articole p {
        word-wrap: break-word;
    }

    /* preview for the second article */

}

/* fix for site name appearance in the navbar*/
@media screen and (max-width: 903px) {
    nav a:nth-child(5){
        display: none;
    }
}

@media screen and (max-width: 585px) {
    nav {
        display: none;
    }

    nav .animation {
        height: 100%;
        top: 0;
        transition: none;
        border-radius: 8px;
    }

    #cross {
        visibility: hidden;
        position: absolute;
        top: 7px;
        left: 10px;
        width: 26px;
        height: 26px;
    }

    #hamburger-check:checked #cross{
        visibility: visible;
    }

    #hamburger {
        visibility: visible;
        position: absolute;
        top: 7px;
        left: 10px;
        width: 26px;
        height: 26px;
    }
    #hamburger-check {
        opacity: 0;
        position: absolute;
        visibility: visible;
        top: 7px;
        left: 10px;
        width: 26px;
        height: 26px;
    }
    #hamburger-check:checked ~ nav a:nth-child(5){
        display: none;
    } 
    #hamburger-check:checked ~ nav {
        display: block;
        position: relative;
        max-width: 80%;
        margin-bottom: 150px;
    }

    nav a{
        justify-content: center;
    }

    #hamburger-check:checked ~ nav a {
        line-height: 50px;
        height: 100%;
        font-size: 15px;
        display: block;
        justify-content: center;
        /* position: relative; */
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        color: black;
        justify-content: center;
        border-radius: 8px;
        background-color: #F5F5F8;
        width: 100%;
    }

    #hamburger-check:checked ~ nav a:hover{
        background-color: #3498db;
        border-radius: 8px;
    } 

    #hamburger-check:checked ~ nav .start-home, a:nth-child(1):hover~.animation {
        /* width: 100px;
        left: 0; */
        background-color: transparent;
    }

    #hamburger-check:checked ~ nav .start-latestPosts, a:nth-child(2):hover~.animation {
        /* width: 134px;
        left:0px;
        top: 50px; */
        background-color: transparent;
    }
    #hamburger-check:checked ~ nav .start-restaurants, a:nth-child(3):hover~.animation {
        /* width: 134px;
        left: 0px;
        top: 100px; */
        
        background-color: transparent;
    }
    #hamburger-check:checked ~ nav .start-aboutUs, a:nth-child(4):hover~.animation {
        /* width: 110px;
        left: 0px;
        top: 150px; */
        background-color: transparent;
    }
}

@media screen and (max-width: 710px) {
    #gallery-conainer {
        display: block;
    }
    #gallery-conainer > figure {
        width: 100%;
        /* text-align: center; */
    }
}